            <div id="navigation">
                  <nav class="navbar navbar-custom cl-effect-21" role="navigation">
                        <div class="container">
                              <div class="row">
                                    <div class="col-md-2 mob-logo">
                                          <div class="row">
                                                <div class="site-logo">
                                                <%= link_to image_tag('/assets/logo.png'), root_path %>
                                                </div>
                                          </div>
                                    </div>
                                    

                                    <div class="col-md-10 mob-menu">
                                          <div class="row">
                                                <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                          <i class="fa fa-bars"></i>
                                          </button>
                                    </div>
                                                <!-- Collect the nav links, forms, and other content for toggling -->
                                                <div class="collapse navbar-collapse" id="menu">
                                                      <ul class="nav navbar-nav navbar-right">
                                                            <li class="active"><%= link_to 'Who we are', '#section1'%></li>
                                                            <li><%= link_to 'What we do', '#section2'%></li>
                                                            <li><%= link_to 'Our rules', '#section3'%></li>
                                                            <li><%= link_to 'Member', '#section4'%></li>
                                                            <li><%= link_to 'Works', '#section5'%></li>
                                                            <!-- <li><a href="#section6">Pricing</a></li> -->
                                                            <li><%= link_to 'News', '#section6'%></li>
                                                            <li><%= link_to 'Contact us', '#section7'%></li>
                                                      </ul>
                                                </div>
                                                <!-- /.Navbar-collapse -->
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <!-- /.container -->
                  </nav>
            </div> 