<!DOCTYPE html>
<!-- Header -->
<!-- Section 2 -->
<section id="section1" class="about">
<div class="container">
      <!-- Title row -->
      <div class="row">
            <div class="col-md-12 big-title wow bounceIn">
                  <h2>Pangeternとは？</h2>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-6 sub-title text-center wow slideInRight">
            <img src="/assets/Pangea.png" alt="About Us" class="img-responsive">
                  <h4 class="About_ex">Pangeaは約三億年前大陸移動が起こる前、世界が一つだったとされる大陸の名称</h4>
            </div>
            <div class="col-md-6 sub-title text-center wow slideInRight">
            <img src="/assets/arctic_tern.jpeg" alt="About Us" class="img-responsive">
                  <h4 class="About_ex">
                  Archtic ternは一生で240万キロという世界で最も長い距離を季節移動する小型の渡り鳥</h4>
            </div>
            <br>
            <div class="col-md-12 sub-title text-center wow slideInRight">
                  <h2>
                  <i class="fa fa-quote-left wow fadeInLeft"></i>
                  Archtic Ternのように世界を飛び回り、日本と海外という隔たりを壊し、<br>真の日本のグローバリゼーションを達成する
                  <i class="fa fa-quote-right wow fadeInLeft"></i>
                  </h2>
            </div>
      </div>
      <!-- /Title row -->      
</div>
</section>
<section id="section2" class="">
<!-- Service wrap -->
<div class="about-wrap">
      <div class="parallax-layer">
            <div class="icons"></div>
      </div>
      <div class="parallax-layer">
            <div class="texture"></div>
      </div>
      <div class="container">
            <!-- Content row -->
            <div class="row">
            <div class="col-md-12 big-title wow bounceIn">
                  <h2 class="">事業内容</h2>
            </div>
                  <!-- Content box 1 -->
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-box big ch-item wow fadeInLeft">
                              <div class="ch-info-wrap">
                                    <div class="ch-info">
                                          <div class="ch-info-front ch-img-1">
                                                <i class="fa fa-code"></i>
                                          </div>
                                    </div>
                              </div>
                              <div class="content-box-info">
                                    <h4>ソフトウェア</h4>
                                    <p>
                                    イスラエルは世界でもレベルの高いソフトウェアのスタートアップが多い国です。現在はアドテク領域を中心に展開しておりますが、アグリテックやバイオテックなど様々な領域のテクノロジーを取り扱っております。
                                    </p>
                              </div>
                        </div>
                  </div>
                  <!-- /Content box 1 -->

                  <!-- Content box 2 -->
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-box big ch-item wow fadeInDown">
                              <div class="ch-info-wrap">
                                    <div class="ch-info">
                                          <div class="ch-info-front ch-img-1">
                                                <i class="fa fa-wrench"></i>
                                          </div>
                                    </div>
                              </div>
                              <div class="content-box-info">
                                    <h4>ハードウェア</h4>
                                    <p>
                                    イスラエルのハードウェアの国内での販売だけではなく、中国や香港などでも販売ネットワークを構築しております。
                                    </p>
                              </div>
                        </div>
                  </div>
                  <!-- /Content box 2 -->

                  <!-- Content box 3 -->
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-box big ch-item wow fadeInRight">
                              <div class="ch-info-wrap">
                                    <div class="ch-info">
                                          <div class="ch-info-front ch-img-1">
                                                <i class="fa fa-file-text"></i>
                                          </div>
                                    </div>
                              </div>
                              <div class="content-box-info">
                                    <h4>M&A支援</h4>
                                    <p>
                                    イスラエルの企業紹介や情報提供だけではなく、デューデリジェンスなどM＆Aにまつわるすべての業務をワンストップでお手伝いさせて頂きます。
                                    </p>
                              </div>
                        </div>
                  </div>
                  <!-- /Content box 3 -->
                  <div class="col-lg-12 col-offset-2 col-md-12 col-sm-12 col-xs-12 text-right">
                        <%= link_to '>>取扱いテクノロジー一覧' , news_path %>
                  </div>
            </div>
            <!-- /Content row -->
      </div>
</div>
<!-- /Service wrap -->
</section>
<section id="section3">
<!-- Quote of the day -->
<div class="quote-wrap light">
      <div class="texture-layer">
            <div class="container">
            <div class="col-md-12 big-title wow bounceIn">
                  <h2 class="">Pangetern7箇条</h2>
            </div>
                  <h2>
                        <i class="fa fa-hand-o-right wow fadeInLeft"></i>
                        <span class="wow bounceIn">
                              常に正直であり続けます。
                        </span>
                  </h2>
                  <p class="animated wow" data-animate="fadeInUp">見栄を張って嘘を付いたり、失敗をごまかしたりなどしません。
                  </p>
            </div>
            <div class="container">
                  <h2>
                        <i class="fa fa-hand-o-right wow fadeInLeft"></i>
                        <span class="wow bounceIn">
                              建前や形式に囚われません。
                        </span>
                  </h2>
                  <p class="animated wow" data-animate="fadeInUp">
                        定例会議、不必要なミーティング、非効率的な古いやり方は行いません。
                  </p>
            </div>
            <div class="container">
                  <h2>
                        <i class="fa fa-hand-o-right wow fadeInLeft"></i>
                        <span class="wow bounceIn">
                              すぐに限界を決めません。
                        </span>
                  </h2>
                  <p class="animated wow" data-animate="fadeInUp">
                        最初から不可能なことは何もないと思っています。達成するために限界までやり抜きます。
                  </p>
            </div>
            <div class="container">
                  <h2>
                        <i class="fa fa-hand-o-right wow fadeInLeft"></i>
                        <span class="wow bounceIn">
                              日本にこだわりません。
                        </span>
                  </h2>
                  <p class="animated wow" data-animate="fadeInUp">
                        日本の人口は世界人口の1.24％です。世界市場を常に見続け、その国ごとに合ったやり方でビジネスをします。
                  </p>
            </div>
            <div class="container">
                  <h2>
                        <i class="fa fa-hand-o-right wow fadeInLeft"></i>
                        <span class="wow bounceIn">
                              人を大切にします。
                        </span>
                  </h2>
                  <p class="animated wow" data-animate="fadeInUp">
                        あくまでテクノロジーは手段です。社員もお客様も幸せな企業であり続けます。
                  </p>
            </div>
            <div class="container">
                  <h2>
                        <i class="fa fa-hand-o-right wow fadeInLeft"></i>
                        <span class="wow bounceIn">
                              社会のためにならない事業はしません。
                        </span>
                  </h2>
                  <p class="animated wow" data-animate="fadeInUp">     
                        ゲームや詐欺など決してお金が稼げても世のためにならない事業はしません。
                  </p>
            </div>
            <div class="container">
                  <h2>
                        <i class="fa fa-hand-o-right wow fadeInLeft"></i>
                        <span class="wow bounceIn">
                              日本を代表する企業になるまで潰れません。
                        </span>
                  </h2>
                  <p class="animated wow" data-animate="fadeInUp">
                  トヨタ、パナソニックなどが築いたMade in Japanというブランド。ここ最近の日本の元気の無さを弊社が活発にします。
                  </p>
            </div>
                                                                                                                                            
      </div>
</div>
<!-- /Quote of the day -->
</section>
<section id="section4">
<!-- Agency team -->
<div class="team-wrap">
      <div class="container">
            <!-- Title row -->
            <div class="row">
                  <div class="col-md-12 big-title wow bounceIn">
                        <h2>メンバー</h2>
                  </div>

                  <div class="clearfix"></div>

                  <div class="col-md-12 sub-title text-center wow slideInRight">
                        <h3>我々は世界中に分散し、それぞれの国のテクノロジーとネットワークを日々発掘しております。</h3>
                  </div>
            </div>
            <!-- /Title row -->

            <!-- Team members row 1-->
            <div class="row">
                  <!-- item 1 -->
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInLeft">
                        <div class="team-member">
                              <div class="team-member-holder">
                                    <div class="team-member-image">
                                          <img alt="" src="/assets/team/ryoma.jpg">
                                          <div class="team-member-links">
                                                <div class="team-member-links-list">
                                                      <a target="_blank" class="facebook team-member-links-item" href="https://www.facebook.com/ryoma.m.tsuboi"><i class="fa fa-facebook"></i></a>
                                                      <a target="_blank" class="twitter team-member-links-item" href="https://twitter.com/ryomexrael"><i class="fa fa-twitter"></i></a>
                                                      <a target="_blank" class="linkedin team-member-links-item" href="https://il.linkedin.com/in/ryoma-tsuboi-83b299107"><i class="fa fa-linkedin"></i></a>
                                                      <p>
                                                           高校の時にメキシコに交換留学。現在はイスラエルにてスタートアップの発掘やアジアマーケットでの販売網の拡大を中心に行う。
                                                      </p>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="team-member-meta">
                                          <h4 class="team-member-name">坪井稜真</h4>
                                          <div class="team-member-role">
                                                CEO
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!-- End -->
                  <!-- item 4 -->
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInRight">
                        <div class="team-member">
                              <div class="team-member-holder">
                                    <div class="team-member-image">
                                          <img alt="" src="/assets/team/mouri.jpg">
                                          <div class="team-member-links">
                                                <div class="team-member-links-list">
                                                      <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                                                      <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                                                      <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                                                      <p>
                                                            幼少期をアメリカで過ごす。現在はネパールにて30人ほどの対象にオフショア事業を行う、スーパーエンジニア。
                                                      </p>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="team-member-meta">
                                          <h4 class="team-member-name">Tekehiro Mouri</h4>
                                          <div class="team-member-role">
                                                CTO
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!-- End -->
                  <!-- item 2 -->
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInDown">
                        <div class="team-member">
                              <div class="team-member-holder">
                                    <div class="team-member-image">
                                          <img alt="" src="/assets/team/daiki.jpg">
                                          <div class="team-member-links">
                                                <div class="team-member-links-list">
                                                      <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                                                      <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                                                      <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                                                      <p>
                                                      ITベンチャー企業にて新規事業やバックエンド業務を経験。現在はイスラエルにてすべての事業のサポートを行う。
                                                      </p>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="team-member-meta">
                                          <h4 class="team-member-name">小西雄也</h4>
                                          <div class="team-member-role">
                                                広報・会計
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!-- End -->
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item wow fadeInDown">
                        <div class="team-member">
                              <div class="team-member-holder">
                                    <div class="team-member-image">
                                          <img alt="" src="/assets/team/sho.jpg">
                                          <div class="team-member-links">
                                                <div class="team-member-links-list">
                                                      <a target="_blank" class="facebook team-member-links-item" href="#"><i class="fa fa-facebook"></i></a>
                                                      <a target="_blank" class="twitter team-member-links-item" href="#"><i class="fa fa-twitter"></i></a>
                                                      <a target="_blank" class="linkedin team-member-links-item" href="#"><i class="fa fa-linkedin"></i></a>
                                                      <p>
                                                      光通信のナンバー1営業マン。現在は日本にてすべての商材の販売を行う。
                                                      </p>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="team-member-meta">
                                          <h4 class="team-member-name">杉本拓也</h4>
                                          <div class="team-member-role">
                                                営業統括
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <!-- /Team members row 1-->
      </div>
</div>
<!-- /Agency team -->
</section>
<section id="section5">
<!-- Fun Facts -->
<div class="fun-wrap">
      <div class="texture-layer">
            <div class="container">
                   <!-- Title row -->
                  <div class="row">
                        <div class="col-md-12 big-title light wow bounceIn">
                              <h2>我々のKPI</h2>
                        </div>
                  </div>
                  <!-- /Title row -->

                  <div class="row">
                        <div class="col-md-3 wow fadeInLeft">
                              <div class="fun-box">
                                    <i class="fa fa-clock-o"></i>
                                    <span class="fun" data-from="0" data-to="15" data-speed="5000" data-refresh-interval="50"></span>
                                    <p>スタートアップ取扱数</p>
                              </div>
                        </div>

                        <div class="col-md-3 wow fadeInDown">
                              <div class="fun-box">
                                    <i class="fa fa-users"></i>
                                    <span class="fun" data-from="0" data-to="5" data-speed="5000" data-refresh-interval="50"></span>
                                    <p>関連国数</p>
                              </div>
                        </div>

                        <div class="col-md-3 wow fadeInDown">
                              <div class="fun-box">
                                    <i class="fa fa-check"></i>
                                    <span class="fun" data-from="0" data-to="4" data-speed="5000" data-refresh-interval="50"></span>
                                    <p>パートナーシップ数</p>
                              </div>
                        </div>

                        <div class="col-md-3 wow fadeInRight">
                              <div class="fun-box">
                                    <i class="fa fa-trophy"></i>
                                    <span class="fun" data-from="0" data-to="5" data-speed="5000" data-refresh-interval="50"></span>
                                    <p>クライアント数</p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
<!-- /Fun Facts -->
</section>

<!-- Section 6 -->
<section id="section6" class="pricing">
<div class="container">
      <div class="row flat">
            <!-- Title row -->
            <div class="row">
                  <div class="col-md-12 big-title wow bounceIn">
                        <h2>ニュース</h2>
                  </div>

                  <div class="clearfix"></div>

                  <div class="col-md-12 sub-title text-center wow slideInRight">
                        <h3>随時更新していきます。</h3>
                  </div>
            </div>
            <!-- /Title row -->
      </div>
</div>
</section>
<!-- /Section 6 -->
<!-- Section 5 -->
<section id="section7" class="clients">
<div class="testimonial-wrap">
      <div class="texture-layer">
            <div class="container">
                  <!-- Title row -->
                  <div class="row">
                        <div class="col-md-12 big-title light wow bounceIn">
                              <h2>お客様の声</h2>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-12 sub-title text-center light wow slideInRight">
                              <h3>様々な企業様に満足して頂いております。</h3>
                        </div>
                  </div>
                  <!-- /Title row -->

                  <!-- Testimonial row-->
                  <div class="row">
                        <div class="testimonials">
                              <div class="col-md-1">
                                    <div class="carousel-controls">
                                          <a class="prev" href="#testimonials-carousel" data-slide="prev">
                                                <i class="fa fa-angle-left"></i>
                                          </a>
                                          
                                    </div>
                              </div>
                              <div class="col-md-10">
                              <div id="testimonials-carousel" class="testimonials-carousel carousel slide">
                                    <div class="carousel-inner">
                                          <div class="item active">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                      <div class="testimonial item">
                                                            <p>
                                                                   とても優しくて、本当に最高っす
                                                            </p>
                                                            <div class="testimonials-arrow"></div>
                                                            <div class="author">
                                                                  <div class="testimonial-image ">
                                                                        <img alt="" src="/assets/testimonial/team-member-1.jpg">
                                                                  </div>
                                                                  <div class="testimonial-author-info">
                                                                        <a href="https://earthkey.co.jp/"><span class="color">誰か</span></a> 会社名
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="item">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                      <div class="testimonial item">
                                                            <p>
                                                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                                            </p>
                                                            <div class="testimonials-arrow"></div>
                                                            <div class="author">
                                                                  <div class="testimonial-image ">
                                                                        <img alt="" src="/assets/testimonial/team-member-2.jpg">
                                                                  </div>
                                                                  <div class="testimonial-author-info">
                                                                        <a href="#"><span class="color">Monzurul Haque</span></a> FIFO Themes
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="item">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                      <div class="testimonial item">
                                                            <p>
                                                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                                            </p>
                                                            <div class="testimonials-arrow"></div>
                                                            <div class="author">
                                                                  <div class="testimonial-image ">
                                                                        <img alt="" src="/assets/testimonial/team-member-3.jpg">
                                                                  </div>
                                                                  <div class="testimonial-author-info">
                                                                        <a href="#"><span class="color">Carol Johansen</span></a> FIFO Themes
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-1">
                                    <div class="carousel-controls pull-right">
                                          <a class="next" href="#testimonials-carousel" data-slide="next">
                                                <i class="fa fa-angle-right"></i>
                                          </a>
                                          
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!-- /Testimonial row-->
            </div>
      </div>
</div>





</section>
<!-- /Section 5 -->



<!-- Section 7 -->
<section id="section7" class="contacts">

<!-- Contact form -->
<div class="contact-form">
      <div class="container">
            <!-- Title row -->
            <div class="row">
                  <div class="col-md-12 big-title wow bounceIn">
                        <h2>Contact</h2>
                  </div>

                  <div class="clearfix"></div>

                  <div class="col-md-12 sub-title text-center wow slideInRight">
                        <h3>Contact with us to learn more about all of our Web Design Services!</h3>
                  </div>
            </div>
            <!-- /Title row -->
            <%= simple_form_for Contact.new, :html => {:class => 'form_horizontal'} do |f| %>
            <!-- Form element row -->
            <div class="row text-center">
                  <div class="col-md-2"></div>

                  <div class="col-md-8">
                        <form method="post" class="reply" id="contact">
                              <fieldset>
                                    <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInLeft">
                                                <div class="row">
                                                      <div class="col-md-12 form_size">
                                                            <%= f.input :name, :class => "form-control", :required => true, :size => "200" %>
                                                      </div>
                                                      <div class="col-md-12 form_size">
                                                            <%= f.input :email, :class => "form-control", :required => true %>
                                                      </div>
                                                      <div class="col-md-12 form_size">
                                                            <%= f.input :subject, :class => "form-control", :required => true %>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInRight">
                                                <div class="row">
                                                      <div class="col-md-12 form_text">
                                                            <%= f.input :message, :class => "form-control form_message", :as => :text , :required => true %>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="row">
                                          <div class="col-md-12 wow fadeInUp">
                                                <%= f.button :submit, 'Send', :class => "btn btn-2 btn-2c" %>
                                                <div class="success alert-success alert" style="display:none">Your message has been sent successfully.</div>
                                                <div class="error alert-danger alert" style="display:none">E-mail must be valid and message must be longer than 100 characters.</div>
                                          </div>
                                    </div>
                              </fieldset>
                        </form>
                  </div>

                  <div class="col-md-2"></div>
            </div>
            <% end %>
            <!-- /Form element row -->
      </div>
</div>
<!-- /Contact form -->

 
</section>